
/********Pie de Pagina***********/

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background: url(/imagenes/fondo-logo-naturaleza-montañas.jpg) center center;
    background-size: cover;
}

.contacto {
    @each $var, $val in $contacto {
        #{$var}:$val;
    }
}   

.contacto p {
    font-size: $tamaño-fuente-2;
    margin: 1px;
    color: $color-subtitulo;
}

.contacto ul li {
    font-size: 15px;
    list-style-type: none;
}


.mapa { 
    background-color: rgba(124, 124, 124, 0.6);
    border: 1px solid rgb(177, 167, 33);
    border-radius: 1rem;
}


.subtituloFooter {
    @include font-styles($fuente-subtitulos2, $tamaño-fuente-2, $color-titulo);
    -webkit-text-stroke: 0.1px black;
    text-decoration: none;
    text-decoration: underline;
    margin: 1px;
}

/********************************/
/*******Cuerpo de Fotos**********/
/********************************/

.grid-fotos {
    display: grid;
    grid-template-areas:
    'fotos'
    'boton'
    'none';
    grid-gap: 20px;
    background-image: linear-gradient(to bottom, rgba(111, 195, 221, 0.589), rgb(218, 151, 89));

}

.fotos {
    grid-area: fotos;
}

.galeria {
    object-fit: scale-down;
}