
/*******Fuentes*******/

$fuente-titulo: 'Bebas Neue', cursive;
$fuente-subtitulos: 'Lobster', cursive;
$fuente-subtitulos2: 'Bangers', cursive;
$fuente-parrafo: 'Montserrat', sans-serif;

/****Tamaño-Fuente****/

$tamaño-fuente-2: 2rem;
$tamaño-fuente-4: 4rem;
$tamaño-fuente-6: 6rem;

$tam-fuente-mob-1: 1rem;
$tam-fuente-mob-2: 2rem;
$tam-fuente-mob-3: 3rem;

/*******Colores********/

$color-titulo: #d18d0d;
$color-subtitulo: rgba(209, 141, 13, 0.6);
$color-parrafo: rgb(20, 20, 20);